@media(max-width:670px){
    .card{
        flex-direction: column;
        max-width: 34rem
    }

    .card .image {
        max-width: 100%;
        max-height: 240px;
    }

    .card .image .image-product{
        height: 240px;
        border-radius: 1rem 1rem 0 0;
    }

    .card .info{
        padding: 1.7rem 2.2rem;
        border-radius: 0 0 1rem 1rem;
    }

    .card .info .product-name{
        margin-top: 1.4rem;
    }

    .card .info .product-info{
        margin-top: 1.7rem;
    }

    .card .info .prices{
        margin-top: 1.7rem;
    }

    .card .info .btn{
        margin: 1.3rem 0 0.9rem;
        padding: 1.4rem 9.6rem;
    }
}