:root{
    --primary-soft-color:hsl(158, 36%, 37%);
    --primary-medium-color:hsl(158, 37%, 25%);
    --neutral-medium-color:hsl(228, 12%, 48%);
    --main-bg-color: hsl(30, 38%, 92%);
    --container-info-bg-color: hsl(0, 0%, 100%);
    
    
}